    * {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
    }

    li {
      margin: 5px;
      width: 200px;
      height: 100px;
      background-size: contain;
    }

    li,
    .ShowInPic {
      background-repeat: no-repeat;
    }

    .ShowInPic {
      width: 400px;
      height: 200px;
      margin: 15px auto;

      background-size: contain;
    }

    .active {
      border: 1px solid #f00;
    }